/*Schrijf hier jouw CSS*/

body {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
}

/* HEADER */
header  {
    flex-basis: 100px;
}

/* MAIN */
main {
    display: flex;
    flex-basis: 400px;
    flex-grow: 1;
}

article {
    flex-grow: 5;
}

nav {
    flex-grow: 1;
}

aside {
    flex-grow: 1;
}

/* FOOTER */
footer {
    flex-basis: 100px;
}