/*Schrijf hier jouw CSS*/

body {
    display: flex;
    flex-basis: 600px;
    flex-direction: column;
}

main {
    display: flex;
    flex-basis: 400px;
}

article {
    order: 2;
    flex-grow: 5;
}

nav {
    order: 1;
    flex-grow: 1;
}

aside {
    order: 3;
    flex-grow: 1;
}

header {
    display: flex;
    flex-basis: 100px;
}

footer {
    display: flex;
    flex-basis: 100px;
}