/*Schrijf hier jouw CSS*/

/* opdracht-1 */
.opdracht-1 ul {
    display: flex;
    justify-content: space-between;
}

/* opdracht-2 */
.opdracht-2 ul {
    display: flex;
}


.opdracht-2 li {
    flex-basis: 250px;
}

/* opdracht-3 */
.opdracht-3 ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.centered {
    align-self: center;
}

.bottomright {
    align-self: flex-end;
}

/*  ------------------- Opdracht 3:  ------------------- */
/*.opdracht-3 .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.opdracht-3 .top-left {
    align-self: flex-start;
}

.opdracht-3 .centered {
    align-self: center;
}

.opdracht-3 .bottom-right {
    align-self: flex-end;
}*/

/* opdracht-4 */
.opdracht-4 ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


/* pdracht-5 */
.opdracht-5 div {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.opdracht-5 ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle {
    align-items: center;
}

.right {
    align-items: flex-end;
}

/*  ------------------- Opdracht 5:  ------------------- */
/*
.opdracht-5 .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.opdracht-5 .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

!*Met de selector nth-of-type(getal) kun je het "zoveelste" element van dat type aanspreken*!
.opdracht-5 .flex-column:nth-of-type(1) {
    align-items: flex-start;
}

.opdracht-5 .flex-column:nth-of-type(2) {
    align-items: center;
}

.opdracht-5 .flex-column:nth-of-type(3) {
    align-items: flex-end;
}*/
