/*Schrijf hier jouw CSS*/

body {
    display: flex;
    flex-basis: 600px;
}

.outer-col-1 {
    flex-grow: 1;
    height: 600px;
}

.outer-col-2 {
    flex-grow: 6;

}

.inner-row {
    display: flex;
}

.inner-col {
    flex-grow: 5;
}
article {
    height: 400px;
}
aside {
    flex-grow: 1;
}

header {
    height: 100px;
}

footer {
    height: 100px;
}